/CountChars.class
/CountConsonantsAndVowels.class
/CountPunctuation.class
/DisplaySubsetsOfaString.class
/FindDuplicateChars.class
/SwapTwoStrings.class
/checkPalindrome.class
/displayCharOnASeparateLine.class
